<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table>
            <tbody>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Edit</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in details %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.age}}</td>
                        <td>{{i.address}}</td>
                        <td><a href="{% url 'edit' i.pk%}">Edit</a></td>
                        <td><a href="{% url 'delete' i.pk%}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </tbody>
        </table>
    </div>
</body>
</html>